<div ng-include="'partials/nav'"></div>
<div id="content-wrap">
  <form>
    <div class="form-group">
      <label for="title">Request</label>
      <input ng-model="request_form.title" type="text" class="form-control" id="title" placeholder="Mow the lawn">
    </div>
    <div class="form-group">
      <label for="price">Starting Price</label>
      <input ng-model="request_form.price" type="number" class="form-control" id="price" placeholder="$1.00">
    </div>
    <div class="form-group">
      <label for="completed_by">Complete By</label>
      <input ng-model="request_form.completed_by" type="datetime" class="form-control" id="completed_by" placeholder="6:30 PM">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input ng-model="request_form.location" type="text" class="form-control" id="location" placeholder="314 Chestnut Street, Philadelphia">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea ng-model="request_form.description" class="form-control" rows="5" id="description" placeholder="Please provide your own lawnmower. Watch out for the low branches at the edge of the backyard!"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input ng-model="request_form.tags" type="text" id="tags" class="form-control" data-role="tagsinput" />
    </div>
    <button ng-click="submitRequest()" type="submit" class="btn btn-default">Add Request</button>
  </form>
</div>
<script src="/js/bootstrap-tagsinput.js"></script>