<nav>
  <div id='title'>Ribbid</div>
  <ul id='left-btns' class='btn-list'>
    <li><a href="#" onclick="window.history.back();"><i class="fa fa-chevron-left"></i></a></li>
    <li><a href="route"><i class="fa fa-clock-o"></i></a></li>
    <li><a href="route"><i class="fa fa-dollar"></i></a></li>
    <li><a href="route"><i class="fa fa-road"></i></a></li>
  </ul>
  <ul id='right-btns' class='btn-list'>
    <li><a href="route"><i class="fa fa-plus"></i></a></li>
    <li><a href="route"><i class="fa fa-user"></i></a></li>
  </ul>
</nav>