<nav>
  <div id='title'>Make a Payment</div>
  <ul id='left-btns' class='btn-list'>
    <li><a href="#" onclick="window.history.back();"><i class="fa fa-chevron-left"></i></a></li>
  </ul>
</nav>
<div id="content-wrap">
  <form name="pay_form" ng-submit="submitPayment(pay_form.$valid)" novalidate>
</div>