<div ng-include="'partials/nav'"></div>
<div id="content-wrap">
  <ul class="list-view">
    <li class="list-item text-item"><a href="create"><i class="fa fa-plus"> Create Request</i></a></li>
    <li class="list-item" ng-repeat="a in [1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20]">
      <a href="request" class="request">
        <div class="picture">
          <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10922822_396217957207564_6547384044584887570_n.jpg?oh=5bb3bf03ae730fb0266e298716eef2a7&oe=55671980" />
        </div>
        <ul class="stats">
          <li class="bid">7.00</li>
          <li class="time">43</li>
          <li class="dist">2</li>
        </ul>
        <div class="float-group">
          <div class="name">Austin Eng</div>
          <div class="description"><span class="title">This is a Title</span>{{"This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description." | cut:true:80:'...'}}</div>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
  </ul>
</div>