<nav>
  <div id='title'>Ribbid</div>
  <ul id='left-btns' class='btn-list'>
    <li><a href="#" onclick="window.history.back();"><i class="fa fa-chevron-left"></i></a></li>
  </ul>
</nav>
<div id="content-wrap">
  <div class="large-view">
    <div class="picture">
      <img src={{request.user.profilePic}} />
    </div>
    <div class="float-group">
      <div class="name">{{request.user.displayName}}</div>
      <div class="title">{{request.title}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="description">{{request.description}}</div>
  </div>

  <ul class="list-view" id="request-page">
    <li id={{bid._id}}  class="list-item" ng-repeat="bid in request.bids">
      <div ng-click="startAccept(bid._id)" class="item-wrap">
        <div class="picture">
          <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10922822_396217957207564_6547384044584887570_n.jpg?oh=5bb3bf03ae730fb0266e298716eef2a7&oe=55671980" />
        </div>
        <div class="checkmark">
        </div>
        <div class="float-group">
          <div class="name">Austin Eng</div>
          <div class="bid">{{bid.price | currency:"$"}}<span class="timestamp">{{bid.timestamp | date:'mediumDate'}} at {{bid.timestamp | date:'shortTime'}}</span></div>
        </div>
      </div>
      <div class="item-wrap accept-wrap">
        <i ng-click="cancelAccept()" class="left fa fa-close"></i>
        <i ng-click="makeAccept(bid._id)" class="right fa fa-check-circle-o"></i>
        {{bid.price | currency:"$"}}
      </div>
    </li>
  </ul>
</div>