<nav>
  <div id='title'>Ribbid</div>
  <ul id='left-btns' class='btn-list'>
    <li><a href="/requests?sort=complete_by"><i class="fa fa-clock-o"></i></a></li>
    <li><a href="/requests?sort=price"><i class="fa fa-dollar"></i></a></li>
    <li><a href="/requests?sort=distance"><i class="fa fa-road"></i></a></li>
  </ul>
  <ul id='right-btns' class='btn-list'>
    <li><a href="/me/requests_bids"><i class="fa fa-exchange"></i></a></li>
  </ul>
</nav>
<div id="content-wrap">
  <ul class="list-view">
    <li ng-hide="gps" class="cssFadeSlide list-item text-item">GPS not enabled!</li>
    <li class="list-item text-item"><a href="create"><i class="fa fa-plus"> Create Request</i></a></li>
    <li class="list-item" ng-repeat="request in requests">
      <a href="/request/{{request.obj._id}}" class="item-wrap">
        <div class="picture">
          <img src={{request.obj.user.profilePic}} />
        </div>
        <ul class="stats">
          <li class="bid"><initialprice obj ={{request.obj}}></initialprice></li>
          <li class="time"><fromnow date={{request.obj.mustCompleteBy}}></fromnow></li>
          <li class="dist">{{request.dis | number:1}}</li>
        </ul>
        <div class="float-group">
          <div class="name">{{request.obj.user.displayName}}</div>
          <div class="description"><span class="title">{{request.obj.title}}</span>{{request.obj.description | cut:true:80:'...'}}</div>
        </div>
        <div class="clearfix"></div>
      </a>
    <li>
  </ul>
</div>