<nav>
  <div id='title'>Ribbid</div>
  <ul id='left-btns' class='btn-list'>
    <li><a href="#" onclick="window.history.back();"><i class="fa fa-chevron-left"></i></a></li>
  </ul>
</nav>
<div id="content-wrap">
  <div class="large-view">
    <div class="picture">
      <img src={{request.user.profilePic}} />
    </div>
    <div class="float-group">
      <div class="name">{{request.user.displayName}}</div>
      <div class="title">{{request.title}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="description">{{request.description}}</div>
  </div>
  <map
  zoom="14"
  disable-default-u-i="true"
  disable-double-click-zoom="true"
  draggable="false"
  keyboard-shortcuts="false"
  scrollWheel="false"
  style="width: 100%; height: 400px;"></map>

  <ul class="list-view" id="request-page">
    <li ng-hide="making_bid" ng-click="startBid()" class="list-item text-item"><a href="#"><i class="fa fa-plus"> Make a Bid</i></a></li>
    <li ng-class="{making_bid: making_bid}" ng-show="making_bid" class="list-item text-item"><form ng-submit="makeBid(bid)"><input placeholder="Enter a Bid" ng-blur="cancelBid()" ng-model="bid" id="bidAmnt"></input></form></li>
    <li class="list-item" ng-repeat="bid in request.bids">
      <div class="item-wrap">
        <div class="picture">
          <img src={{bid.user.profilePic}} />
        </div>
        <div class="float-group">
          <div class="name">{{bid.user.displayName}}</div>
          <div class="bid">{{bid.price | currency:"$"}}<span class="timestamp">{{bid.timestamp | date:'mediumDate'}} at {{bid.timestamp | date:'shortTime'}}</span></div>
        </div>
      </div>
    </li>
  </ul>
</div>