<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ribbid</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel= "stylesheet" href="/stylesheets/bootstrap-tagsinput.css">
  <link rel='stylesheet' href='/stylesheets/style.min.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!-- load jquery -->
</head>
<body>
  <div id="splash">
    <div id="logo">
      <img src="/img/logo-white.svg" />
    </div>
    <div id="title">Ribbid</div>
    <a type="button" id = "facebook-login-button" href="/auth/login/facebook"><i class="fa fa-facebook"></i>Login</a>
  </div>
</body>