@dark-green: #27ae60;
@light-green: #43D782;//#2ecc71;

body {
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#splash {
  position: absolute;
  width: 100%;
  height: 100%;

  #logo {
    width: 80%;
    margin: auto;
    max-width: 250px;
    margin-top: 70px;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  #title {
    color: white;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    :hover {
    text-decoration: none;
}
  }



  #small-title {
    margin-top: 80px;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

  } 
  #facebook-login-button {
    margin: auto;
    max-width: 280px;
    width: 80%;
    background-color: #3B5998;
    display: block;
    text-decoration: none;
    border: 0;
    position: relative;
    height: 60px;
    width: 100%;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .fa {
      position: absolute;
      font-size: 28px;
      left: 15px;
      top: 18px;
    }
  }
    .header-icon {
    line-height: 80px;
    font-size: 60px;
    padding-top:30px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
  }
  .description {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
   .last-description {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    margin-bottom:130px
  }
    #holder{
    margin: auto;
    max-width: 500px;
    width: 100%;
    display: block;
    text-decoration: none;
    border: 0;
    position: relative;
    height: 60px;
    width: 100%;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 250px;
    text-align: center;
  
    #work-button {

    margin: auto;
    max-width: 150px;
    width: 40%;
    
    display: inline-block;;
    text-decoration: none;
    border: 0;
    position: relative;
    height: 60px;
    width: 30%;
    padding: 0px;
    padding-right: 3%;
    margin-top: 20px;
    margin-bottom: 180px;
    margin-left: 5%;
    margin-right:10%;
    color: white;
    text-align: right;
    font-size: 20px;
    line-height: 60px;
    border: none;
    border-radius: 0;
    box-shadow: none;
            -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:2px #ffffff solid;
    .fa {
      position: absolute;
      font-size: 28px;
      left: 15px;
      top: 18px;
    }
  }
  #hire-button {
    &:hover {
      border-color:#A1A1A1;
    }
    transition: 0.3s ease all;
    margin: auto;
    max-width: 150px;
    width: 40%;
    
    display: inline-block;;
    text-decoration: none;
    border: 0;
    position: relative;
    height: 60px;
    width: 30%;
    padding: 0px;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 180px;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    text-align: right;
    font-size: 20px;
    line-height: 60px;
    border: none;
    border-radius: 0;
    box-shadow: none;
        -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:2px #ffffff solid;
    .fa {
      position: absolute;
      font-size: 28px;
      left: 15px;
      top: 18px;
    }
  }
 }
}

nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: @dark-green;
  color: white;

  #title {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    .tab-nav {
      li {
        display: inline-block;
        a {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          color: white;
          font-size: 16px;
          padding: 3px 6px;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
        &:first-of-type {
          a {
            border-left: 1px solid white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }
        &:last-of-type {
          a {
            border-right: 1px solid white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        &.active {
          a {
            background-color: white;
            color: @dark-green;
          }
        }
      }
    }
  }
  #left-btns {
    left: 0px;
  }
  #right-btns {
    right: 0px;
  }
  .btn-list {
    position: absolute;
    top: 0px;
    height: 50px;
    li {
      display: inline-block;
      a {
        color: white;
        i {
          font-size: 24px;
          padding: 13px 0px;
          width: 35px;
          text-align: center;
        }
      }
      &:hover {
        background-color: @light-green;
      }
    }
  }
}

#content-wrap {
  margin-top: 50px;
}

.list-view {
  .list-item {
    position: relative;
    padding: 15px;
    background-color: white;
    & + .list-item {
      &::before {
        display: block;
        position: relative;
        top: -15px;
        background-color: lightgray;
        width: 100%;
        height: 1px;
        content: ""
      }
      &.accepted {
        &::before {
          background-color: white;
        }
      }
    }
    &:active {
      background-color: white;
    }
    &.accepted {
      background-color: @light-green;
      .item-wrap {
        .name {
          color: white;
        }
        .title {
          color: white;
        }
        .bid {
          color: white;
          &::before {
            content: " $";
          }
        }
        .description {
          color: #CCFFE2;
        }
        .stats li {
          color: whitesmoke;
        }
      }
    }
  }
  .text-item {
    a {
      color: @dark-green;
    }
    text-align: center;
    font-size: 18px;
    padding: 15px 20px;
  }

  .item-wrap {
    color: #222;
    &:hover {
      text-decoration: none;
    }
    .picture {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      float: left;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
    .name {
      color: @dark-green;
      .bid {
        color: black;
        font-weight: bold;
        &::before {
          content: " \2014  $"
        }
      }
    }
    .title {
      font-weight: bold;
      &::after {
        content: " ";
      }
    }
    .stats {
      float: right;
      margin-left: 10px;
      li {
        color: lightgray;
        &.dist {
          &::after { content: "mi" }
        }
        &.time {
          //&::after { content: "m" }
          margin: 5px 0px;
        }
        &.bid {
          color: @dark-green;
          //&::before { content: "$" }
        }
      }
    }
  }
}

.large-view {
  padding: 15px;
  background-color: #efefef;
  box-shadow: 0px 0px 5px #aaa;
  .picture {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    img {
      width: 100%;
      border-radius: 50px;
    }
  }
  .name, .title {
    font-size: 20px;
  }
}

.list-item {
  &.making_bid {
    form {
      padding: 0;
      background-color: transparent;
    }
    padding: 14px;
    input {
      border: none;
      text-align: center;
      background-color: transparent;
      color: white;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
         color: white;
      }

      &:-moz-placeholder {
         color: white;
      }

      &::-moz-placeholder {
         color: white;
      }

      &:-ms-input-placeholder {
         color: white;
      }
    }
  }
}

#request-page {
  .text-item {
    background-color: @light-green;
    a {
      color: white;
    }
  }
  .list-item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .timestamp {
    color: #ccc;
    &::before {
      content: " \2014  at ";
    }
  }
}

.float-group {
  overflow: hidden;
}

form {
  background-color: white;
  padding: 15px;
  .bootstrap-tagsinput, .form-control {
    width: 100%;
    box-shadow: none;
    &:focus {
      border: 1px solid #ccc;
      box-shadow: none;
    }
  }
}

.center-block {
  text-align: center;
}
@media(min-width: 1300px) {
  .splash-bg {
    background-size: 100% auto;
  }
}

@media(min-height: 864px) {
  .splash-bg {
    background-size: auto 100%;
  }
}

@media(min-width: 1300px) and (min-height: 864px) {
  .splash-bg {
    background-size: 100% 100%;
  }
}
.splash-bg {
  position: fixed;
  background-image: url("../img/green-blur.jpg");
  background-repeat: no-repeat;
  left: 0px;
  width: 100%;
  top: 0px;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}


#content-wrap {
  .tab {
    display: none;
    &.active {
      display: block;
    }
  }
}

.ng-hide-add, .ng-hide-remove, .ng-show-add, .ng-show-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssFadeSlide {
    transition: 0.3s ease all;
    opacity: 1;
}
.cssFadeSlide.ng-hide {
    opacity: 0;
    height:0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.help-block {
  margin: 0;
  padding: 5px;
  background: none;
}

